* {
  margin: 0;
}

body {
  --portfolio-background: #151515;
  --portfolio-white: #ffffff;
  --portfolio-offwhite: #585858;
  --portfolio-offwhite2: #171717;
}

.app__body {
  padding: 50px;
  background-color: var(--portfolio-background);
}
