.menuOption > h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  color: var(--portfolio-offwhite);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  transition: transform 450ms;
  width: fit-content;
  padding: 10px;
}

.menuOption__Line {
  margin-left: 7px;
  margin-right: 7px;
}

.menuOption > h4:hover {
  color: white;
  margin-left: 20px;
  transition: scale 300ms ease-in-out;
  background-color: rgb(58, 73, 82, 0.3);
}

.menuOption--active > h4 {
  color: white;
  margin-left: 20px;
  background-color: rgb(58, 73, 82, 0.3);
  width: fit-content;
}
